---
import Testimonials from '@components/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
import Journey from '@components/Journey.astro';
import AboutHero from '@components/AboutHero.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-full h-full">
		<AboutHero/>
		<Journey/>
		<Testimonials/>
		
	  
	</main>
</Layout>

