---
import Layout from '@layouts/Layout.astro';

import Testimonials from '@components/Testimonials.astro';
import ContactInfo from '@components/ContactInfo.astro';
import ContactHero from '@components/ContactHero.astro';

---

<Layout title="Welcome to Astro.">
	<main class="w-full h-full">
		<ContactHero/>
        <ContactInfo/>
		<Testimonials/>
	  
	</main>
</Layout>

