---
import Layout from '@layouts/Layout.astro';
import FAQ from '@components/FAQ.astro';
import Service from '@components/Services.astro';
import ServiceHero from '@components/ServiceHero.astro';

---

<Layout title="Welcome to Astro.">
	<main class="w-full h-full">
		<ServiceHero/>
		<Service/>
        <FAQ/>
	  
	</main>
</Layout>

