---
import { Image } from "astro:assets";
import DP from "@assets/images/dp.png";
import Star from "@assets/svg/star2.svg";
import Social from "./Social.astro";
import SectionHeader from "./ui/SectionHeader.astro";
import PageButton from "./ui/PageButton.astro";
import Section from "./ui/Section.astro";
---

<Section>
    <article>
        <header class="flex flex-col gap-3 md:flex-row justify-between md:items-center">
          <SectionHeader title="About" heading="I am Damien" href="/about" text="Know More"/>
        </header>
        <div class="divider"/>
        <main class="flex flex-col xl:flex-row items-center justify-between gap-10 ">
            <div class="xl:w-1/2 ">
                <Image src={DP} class="w-full" alt="damien braun"/>
            </div>
            <div class="xl:w-1/2 border-2  rounded-3xl ">
           <div class="grid gap-5 md:gap-10 p-5 md:p-10">
            <h3 class="text-title2  text-grey-80 flex items-center gap-2 "><Image src={Star} alt="title"/> Introduction</h3>
            <p class="  text-balance">
                My journey as a photographer has been a lifelong quest to capture the extraordinary in the ordinary, to freeze fleeting moments in time, and to share the world's beauty as I see it. Based in the enchanting landscapes of the USA, I find inspiration in every corner of this diverse and vibrant country. Join me as we embark on a visual odyssey, where each photograph tells a story, and every frame is a piece of my heart.
            </p>
           </div>
           <div class=" divider "/>
           <div class="p-5 md:p-10 grid place-content-start gap-5 md:gap-10">
            <h3 class="text-title2 flex items-center gap-2 text-grey-80"><Image src={Star} alt="title"/> Contact Information</h3>
                <div class="flex md:items-center text-xl gap-5 md:gap-10 flex-col md:flex-row flex-wrap">
                    <div>
                        <h6 class=" text-grey-90">Email</h6>
                    <a href="mailto:damienbraun@gmail.com" class=" text-grey-70">damienbraun@gmail.com</a>
                    </div>
                    <div>
                        <h6 class=" text-grey-90">Phone Number</h6>
                        <a href="tel:+00 000000000" class=" text-grey-70">+00 000000000</a>
                    </div>
                  
                </div>
                <div class="flex flex-col gap-5 md:flex-row md:items-center flex-wrap"> 
                    <div>
                        <Social/>
                    </div>
                    <div class="flex flex-col md:flex-row  gap-3  ">
                        <button class="btn btn-lg  px-10 !text-base">Let’s Work</button>
                        <button class="btn btn-lg px-10 !text-base">Download CV</button>
                    </div>
                </div>
           
           </div>
            </div>
        </main>
    </article>
</Section>