---
interface Props {
  title: string;

  info: string;
}

const { title, info } = Astro.props;
---

<div class="card bg-dark-06 w-full h-full gap-12 relative overflow-hidden">
  <div
    class="absolute aspect-video bg-gradient-to-tr from-[#18181B] to-[#18181B] rounded-3xl top-[50%] left-[60%] w-full h-full rotate-[50deg]"
  >
  </div>
  <div
    class="absolute aspect-video bg-gradient-to-tr from-[#18181B] to-[#18181B] rounded-3xl top-[20%] right-[50%] w-full h-full rotate-[50deg]"
  >
  </div>
  {/* <div class=" aspect-video bg-dark-12 "></div> */}
  <div class="card-body gap-10 z-10">
    <div class="flex justify-between">
      <div class="">
        <h3 class="text-title3">{title}</h3>
      </div>
    </div>

    <p class="text-subtitle ">
      {info}
    </p>
  </div>
</div>
