---
import Section from "./ui/Section.astro";
import { projects } from "../const";
import SectionHeader from "./ui/SectionHeader.astro";
import Work from "./ui/Work.astro";
---

<Section>

  <article>
    <header
      class="flex flex-col gap-3 md:flex-row justify-between md:items-center">
      <SectionHeader title="Portfolio" heading="Explore My photography work." href="/portfolio" text="View All Works"  />
      
    </header>
    <div class="divider"></div>
    <main class=" pt-5 md:pt-16">
      <div class=" flex carousel gap-10">

        {projects[0].works.map(work => <Work id={ work.id.toString()} name={work.name} time={work.time} image={work.image} />)}
      </div>

    </main>
  </article>
</Section>
