---
import HeroImage from "@assets/images/Imageser.png"
import HeroImageMain from "@assets/images/Imageservicehero.png"
import HeroTitle from "./ui/HeroTitle.astro"
import Heroui from "./ui/Heroui.astro"


---
<Heroui text="Scroll Down To See All Services" image={HeroImage} imageHero={HeroImageMain}>
  <div class="lg:ml-auto lg:max-w-7xl 2xl:max-w-7xl pt-10">
    <HeroTitle title="Diverse Photography Offerings" subtitle="Services"/>

    <p class=" text-subtitle">
        Unlock the full spectrum of professional photography services tailored to your vision. From timeless portraits to captivating event coverage, I bring a unique blend of creativity and technical expertise to each project.
    </p>
  </div>
</Heroui>



