---
import SectionHeader from "./ui/SectionHeader.astro";
import { reviews } from "../const";
import Section from "./ui/Section.astro";
import Social from "./Social.astro";
---

<Section>
  <header>
    <SectionHeader title="Testimonials" heading="What My Clients Say" href="#" text="View All Testimonials"  />
   
  </header>
  <div class="divider"></div>


  <main class="flex pt-5 md:pt-16">
    <div class="flex justify-evenly items-center gap-10 carousel carousel-center ">
      {
        reviews.map((review) => (
          <div class="card bg-dark-06  md:w-[34rem] h-full gap-12 relative overflow-hidden  carousel-item  ">
            <div class=" absolute aspect-video bg-gradient-to-tr from-[#18181B] to-[#18181B] rounded-3xl -top-[20%]  left-[70%] w-full h-full rotate-[40deg] "></div>
            <div class=" absolute aspect-video bg-gradient-to-tr from-[#18181B] to-[#18181B] rounded-3xl top-[20%]  right-[50%] w-full h-full rotate-[40deg] "></div>
            
         <div class=" card-body p-3 md:p-[2rem] gap-5 md:gap-10 z-10">

            <div class=" flex justify-between">
            <div class=" ">
                <h3 class="text-subtitle text-white">{review.name}</h3>
                <p class="card-title-text ">{review.city}</p>
                </div>
            <div  class="">
                <Social/>
            </div>
            </div>
            <div class="rating">
  <input type="radio" name="rating-2" class="mask mask-star-2 bg-[#FFCE22]" />
  <input type="radio" name="rating-2" class="mask mask-star-2 bg-[#FFCE22]"  />
  <input type="radio" name="rating-2" class="mask mask-star-2 bg-[#FFCE22]" />
  <input type="radio" name="rating-2" class="mask mask-star-2 bg-[#FFCE22]" />
  <input type="radio" name="rating-2" class="mask mask-star-2 bg-[#FFCE22]" />
</div>
<p class="text-subtitle text-white max-w-xs">
    {review.info}
</p >

         </div>

          </div>
        ))
      }
    </div>
  
  </main>
</Section>
