---
import { projects } from "../const";
import Work from "./ui/Work.astro";
import WorkSection from "./ui/WorkSection.astro";
---


{
  projects.map((project) => (
    <WorkSection title={project.title} >
        
    
      <div class="carousel flex gap-10">
        {project.works.map((work) => (
          <Work id={project.id.toString()+ work.id.toString()} name={work.name} time={work.time} image={work.image} />
        ))}
      </div>
      
    </WorkSection>
  ))
}


