---

type Props ={
    title: string,
    heading: string
}
const {title,heading} =Astro.props
---


<div class=" uppercase">
    <h3 class="text-subtitle text-grey-50">{title}</h3>
<h2 class="text-title text-white">{heading}</h2>
</div>
