---
import { Image } from "astro:assets";

type Props = {
  image: any;
  name: string;
  time: string;
};
const { name,image,time } = Astro.props;
---

<div class="card gap-3 ">
  <Image src={image} alt={name} />
  <div class="flex justify-between">
    <div>
      <h6 class="card-title text-grey-80">{name}</h6>
      <p class="">{time}</p>
    </div>
    <a
      href="#"
      class="text-nowrap flex items-center gap-2 link decoration-dark-12 underline-offset-8 decoration-[2px]"
      >VIEW PROJECR <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
      </svg>
    </a>
  </div>
</div>
